body {padding:20px 0;}
.browser {margin:0 0 10px 0; height:20px;
	li {background:url(../img/browsers.png) no-repeat; width:18px; height:20px; display:block; float:left; margin-right:5px; text-indent:1.6em; text-align:right;}
	.chrome {background-position:0 0;}
	.firefox {background-position:-18px 0;}
	.opera {background-position:-36px 0;}
	.safari {background-position:-54px 0;}
	.ie {background-position:-72px 0;}
	.false {opacity:0.2;}
}   

#myChart {width:100%; height:500px;}

.console {height:350px; margin-top:20px; overflow:scroll;} 