body {
  padding: 20px 0;
}
.browser {
  margin: 0 0 10px 0;
  height: 20px;
}
.browser li {
  background: url(../img/browsers.png) no-repeat;
  width: 18px;
  height: 20px;
  display: block;
  float: left;
  margin-right: 5px;
  text-indent: 1.6em;
  text-align: right;
}
.browser .chrome {
  background-position: 0 0;
}
.browser .firefox {
  background-position: -18px 0;
}
.browser .opera {
  background-position: -36px 0;
}
.browser .safari {
  background-position: -54px 0;
}
.browser .ie {
  background-position: -72px 0;
}
.browser .false {
  opacity: 0.2;
}
#myChart {
  width: 100%;
  height: 500px;
}
.console {
  height: 350px;
  margin-top: 20px;
  overflow: scroll;
}
